#container, #canvas {
  width: 100%;
  height: 100%; }

#btnLoadContainer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  #btnLoadContainer.drag-begin {
    border: 2px dashed #00F;
    padding: 7px 15px; }
    #btnLoadContainer.drag-begin span {
      color: #00F; }
  #btnLoadContainer.drag-over {
    background-color: #F00;
    border: 2px dashed #FF0000;
    padding: 7px 15px; }
    #btnLoadContainer.drag-over span {
      color: #FF0000; }
  #btnLoadContainer span {
    z-index: 0;
    display: inline-block; }
  #btnLoadContainer #btnLoad {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer; }
    #btnLoadContainer #btnLoad::-webkit-file-upload-button {
      cursor: pointer;
      width: 100%;
      height: 100%; }
